<!DOCTYPE html>
 <head>
  <meta charset="utf-8">
   <title>Activities</title>
 </head>
  {% load custom_filters %}
   <body>
    <table border="1" cellpadding="10">
     <tr>
      <td>Name</td>
      <td>Type</td>
      <td>Date</td>
      <td>Description</td>
      <td>Elapsed Days</td>
     </tr>
      {% for activity in activities %}
       <tr>
        <td >{{ activity.name }}</td>
        <td>{{ activity.type }}</td>
        <td>{{ activity.description }}</td>
        <td>{{ activity.date }}</td>
        <td>{{ activity.date|elapsed_days }}</td>
       </tr>
	  {% endfor %}
    </table>
   </body>
</html>
